


.component-result-row {

  border-bottom: 1px solid #ccc;
  padding: 10px;
  position: relative;
  font-family: "Arimo", sans-serif;
  cursor: pointer;

  width:50%;
  height:50px;
  padding:20px;
  background-color: $grey;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 30px; /* Added */
}

.component-result-row:hover {
  background-color: #eee;
}


.component-result-row-image {
  height: 100%;
  float: left;
  margin-top: 5px;
  padding-right: 5px;
}

.component-result-row img {
  width: 32px;
  padding-right: 10px;
}

.component-result-row .title {
  position: relative;
  font-weight: bold;
}


.component-result-row .snippet {
  margin-left: 42px;
  margin-top: 5px;
}

.component-result-row .info {
  float: right;
  position: relative;
  top: -25px;
  right: 10px;
  color: #ccc;
  font-weight: bold;
  display: none;
}

.component-result-row:hover .info {
  display: inline-block;
}


.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.special-card {
  height: 200px;
  display: flex;
  align-items: center;
}

.special-card .info {
  top: -1px;
  right: -50px;
}

.namely-profile-image img {
  width:150px;
}

.namely-details {
  margin-left:30px;
}



@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
