.component-search-input {
   text-align: center
}

.component-search-input > div {
  margin: 0 10px 10px 10px;
}

.component-search-input input {
  border: 1px solid #bbb;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 8px;
  width: 50%;
}
