.component-result-row {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  height: 32px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;

  width:50%;
  padding:20px;
  background-color: $grey;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 30px; /* Added */
}

.component-result-row:hover {
  background-color: #eee;
}

.component-result-row img {
  width: 32px;
  height: 32px;
  padding-right: 10px;
}

.component-result-row .title {
  position: relative;
  top: -8px;
}

.component-result-row .info {
  float: right;
  position: relative;
  top: 8px;
  right: 10px;
  color: #ccc;
  display: none;
}

.component-result-row:hover .info {
  display: inline-block;
}
