.component-result-row {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  position: relative;
  font-family: "Arimo", sans-serif;
  cursor: pointer;

  width:50%;
  height:50px;
  padding:20px;
  background-color: $grey;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 30px; /* Added */
}

.component-result-row:hover {
  background-color: #eee;
}


.component-result-row-image {
  height: 100%;
  float: left;
  margin-top: 5px;
  padding-right: 5px;
}

.component-result-row img {
  width: 32px;
  padding-right: 10px;
}

.component-result-row .title {
  position: relative;
  font-weight: bold;
}

.component-result-row .info {
  float: right;
  position: relative;
  top: 8px;
  right: 10px;
  color: #ccc;
  display: none;
}

.component-result-row .snippet {
  margin-left: 42px;
  margin-top: 5px;
}

.component-result-row .info

.component-result-row:hover .info {
  display: inline-block;
}
